<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>AutoFeed</title>
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400"
    />
    <!-- Google web font "Open Sans" -->
    <link rel="stylesheet" href="assets/css/font-awesome.min.css" />
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />

    <link rel="stylesheet" href="assets/css/demo.css" />
    <link rel="stylesheet" href="assets/css/templatemo-style.css" />

    <script
      type="text/javascript"
      src="assets/js/modernizr.custom.86080.js"
    ></script>
    <style>
      p {
        font-size: large;
      }
      h1 {
        font-size: larger;
      }
      a:hover {
        color: rgb(54, 113, 231);
      }
    </style>
  </head>

  <body>
    <div id="particles-js"></div>

    <ul class="cb-slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

    <div class="container-fluid">
      <div class="row cb-slideshow-text-container">
        <div class="tm-content col-xl-6 col-sm-8 col-xs-8 ml-auto section">
          <header class="mb-5"><h1>Customer Feedback Analyer</h1></header>
          <p class="mb-5">
            This been developed with an intent of eliminating an inherent flaw
            in the feedback generation and usage system currently in place. An
            inherent flaw in feedback generation exists in the disparity in its
            importance between the consumer and the organization. While, organic
            and genuine feedback is a huge asset to the growth of the company,
            filling out feedback forms every now and then is an unnecessary and
            cumbersome process for the customers. What we are gunning for is an
            automated system which replaces this dysfunctional system by an
            automated feedback and recommendation generation system.
          </p>

          <div class="subscribe-form">
            <div class="row form-section">
              <div class="col-md-5 col-sm-5 col-xs-5">
                <a href="/audio" class="tm-btn-subscribe"> Try It </a>
              </div>
            </div>
          </div>

          <div class="tm-social-icons-container text-xs-center">
            <a href="#" class="tm-social-link"
              ><i class="fa fa-facebook"></i
            ></a>
            <a href="#" class="tm-social-link"><i class="fa fa-github"></i></a>
            <a href="#" class="tm-social-link"><i class="fa fa-twitter"></i></a>
            <a href="#" class="tm-social-link"
              ><i class="fa fa-linkedin"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </body>

  <script type="text/javascript" src="assets/js/particles.js"></script>
  <script type="text/javascript" src="assets/js/app.js"></script>
</html>
